/*##############################
############ RESET #############
##############################*/
@import url(./reset.css);



/*##############################
########## TYPOGRAPHY ##########
##############################*/
@import url(./typograpghy/headings.css);
@import url(./typograpghy/links.css);
@import url(./typograpghy/paragraphs.css);



/*##############################
########## COMPONENTS ##########
##############################*/
@import url(./components/grid.css);
@import url(./components/button.css);
@import url(./components/bg.css);
@import url(./components/calendar.css);
@import url(./components/widgets.css);



/*##############################
########## SECTIONS ##########
##############################*/
@import url(./sections/header.css);
@import url(./sections/intro.css);
@import url(./sections/form-section.css);
@import url(./sections/highlights.css);
@import url(./sections/occasions.css);
@import url(./sections/cities.css);
@import url(./sections/work.css);
@import url(./sections/testimonials.css);
@import url(./sections/sponsors.css);
@import url(./sections/footer.css);


:root{
    --main-clr: #009cff;
    --secondary-clr: #ff8500;
    --neutral-clr: #898989;
    --neutral-dark-clr: #323232;
    --black-clr: #000000;
    --star-clr: #ffd131;
}